body {
  background-color: #4d4d46;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 50px 0 100px 0;
  padding: 0 50px 0 50px;
  img {
    width: 50px;
    height: 50px;
  }
  img:hover{
    background-color: red;
  }
  ul {
    display: flex;
    list-style: none;
    margin: 5px;
    li {
      margin: 10px;
      font-size: 20px;
      color: #eded93;
      a {
        text-decoration: none;
        color: #b5b5a7;
      }
      a:hover{
        color: #eded93;
      }
    }
  }
}

.styled_presentation {
  width: 800px;
  margin: 200px auto 300px;
  h3 {
    color: #eded93;
    margin: 0;
  }
  h1 {
    font-size: 80px;
    margin: 0;
    color: #ebebd8;
  }
  h2 {
    font-size: 75px;
    margin: 10px 0 0 0;
    color: #b5b5a7;
  }
  p {
    color: #b5b5a7;
    width: 500px;
    font-size: 20px;
  }
}
.styled_about {
  width: 800px;
  margin: auto;
  display: flex;
  h2 {
    color: #ebebd8;
  }
  p {
    color: #b5b5a7;
    width: 500px;
    font-size: 20px;
  }
  img {
    height: 400px;
    margin: 15px;
    border: 1px solid #ebebd8;
    border-radius: 5px;
  }
  img:hover{
    box-shadow: 4px 4px 8px black;
  }
}

.styled_projects {
  width: 800px;
  margin: 100px auto 100px;
  display: flex;
  h2 {
    color: #ebebd8;
  }
}
.styled_social {
  position: fixed;
  bottom: 0;
  left: 0;
  ul {
    list-style: none;
    font-size: 40px;
    img {
      width: 30px;
      height: 30px;
    }
  }
}
